my_logs/
__pycache__/
data/
runs/
logs_VitLayer/
lightning_logs/
jan_logs/
logs_VitLayer/
logs_overfit_test/
baseline_comparison/
customScheduler/
notPretrained12/
Fix_LowAccuracy/
dropPathRateAndSwin/
localDirectionVit_base/
notPretrained8/
notPretrained4/
notPretrained6/
